env/**
*.pyc
corefunctions/__pycache__/Events.cpython-311.pyc
corefunctions/__pycache__/ImageToDMX.cpython-311.pyc
corefunctions/__pycache__/soundinput.cpython-311.pyc
corefunctions/__pycache__/strips.cpython-311.pyc
corefunctions/__pycache__/visualizer3d_qt.cpython-311.pyc
sceneutils/__pycache__/GS_states.cpython-311.pyc
sceneutils/__pycache__/imgutils.cpython-311.pyc
